@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #E0D7BB;
  min-height: 100vh;
}

img {
  border-radius: 5%;
}

p {
  text-align: center;
  line-height: 180%;
  margin: 10px 25px 5px 25px;
}

h1 {
  text-align: center;
  font-size: 22px;
  padding: 10px;
  margin: 30px auto;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 20px;
  padding: 25px 10px;
  margin-bottom: 0px;
}

h3 {
  color: black;
  line-height: 110%;
  font-size: 16px;
  font-weight: 500;
}

.comentario {
  color: firebrick;
  font-weight: 500;
}

.tarjeta, .tarjetaCoworking, .tarjetaServicios, .tarjetaHistoria3, .tarjetaHistoria2, .tarjetaHistoria1 {
  font-size: 16px;
  text-align: center;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #E0D7BB;
}

header {
  padding: 20px 10px 20px 10px;
}
@media (min-width: 480px) {
  header {
    padding: 20px 40px 20px 40px;
  }
}
@media (min-width: 1024px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
  }
}

.navVlp {
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin: 0px 20px 0px 20px;
}

nav ul li a {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

header,
footer {
  background-color: #1c1c1c;
}

.color {
  color: #E0D7BB;
}

a {
  text-decoration: none;
  color: #E0D7BB;
}

.subrayado {
  background-image: linear-gradient(transparent 0%, transparent 94%, #E0D7BB 94%, #E0D7BB 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}

.subrayado:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.logoMenu {
  width: 150px;
}
@media (min-width: 480px) {
  .logoMenu {
    width: 256px;
    height: auto;
  }
}

.navbar-dark .navbar-toggler {
  color: #E0D7BB;
  border-color: #1c1c1c;
}

footer {
  margin-top: 50px;
}
footer p {
  color: #E0D7BB;
  line-height: 180%;
  font-size: 14px;
  font-weight: 100;
  margin: 0px;
}
footer nav {
  margin-top: 10px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 410px) {
  footer nav {
    padding: 20px 20px;
  }
}
@media (min-width: 768px) {
  footer nav {
    padding: 20px 13px;
  }
}
footer svg {
  margin: 10px 5px 10px 5px;
}
footer .datosFooter {
  grid-area: datosFooter;
  text-align: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .datosFooter {
    align-items: flex-start;
    padding: 0px 0px 0px 20px;
    gap: 4px;
  }
}
@media (min-width: 1024px) {
  footer .datosFooter {
    text-align: left;
  }
}
footer .interlineadoFooter {
  line-height: 120%;
}
footer .iconosRedes {
  grid-area: iconosRedes;
}
footer .copyright {
  grid-area: copyright;
}
@media (min-width: 768px) {
  footer .grillaFooter {
    display: grid;
    grid-template-areas: "datosFooter iconosRedes" "datosFooter copyright";
    grid-template-columns: auto 330px;
  }
}
@media (min-width: 1024px) {
  footer .grillaFooter {
    display: grid;
    grid-template-areas: "datosFooter iconosRedes copyright";
    grid-template-columns: auto auto auto;
  }
}

.cabezasCarousell {
  width: 80%;
  height: auto;
  margin: 0px auto 0px auto;
}
@media (min-width: 768px) {
  .cabezasCarousell {
    width: 60%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .cabezasCarousell {
    width: 40%;
    height: auto;
  }
}

.tituloHistoria {
  grid-area: tituloHistoria;
  margin: 30px auto 15px;
}

.divFotoHistoria1 {
  grid-area: divFotoHistoria1;
}

.parrafoOrigen {
  grid-area: parrafoOrigen;
}

.divFotoHistoria2 {
  grid-area: divFotoHistoria2;
}

.divFotoHistoria2bis {
  grid-area: divFotoHistoria2bis;
  display: none;
}
@media (min-width: 1024px) {
  .divFotoHistoria2bis {
    display: block;
  }
}

.divFotoHistoria3 {
  grid-area: divFotoHistoria3;
  display: none;
}
@media (min-width: 768px) {
  .divFotoHistoria3 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .divFotoHistoria3 {
    display: block;
  }
}

.divFotoHistoria3_410 {
  grid-area: divFotoHistoria3_410;
}
@media (min-width: 768px) {
  .divFotoHistoria3_410 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .divFotoHistoria3_410 {
    display: block;
  }
}

.divFotoHistoria3bis {
  grid-area: divFotoHistoria3bis;
  display: none;
}
@media (min-width: 1024px) {
  .divFotoHistoria3bis {
    display: block;
  }
}

.parrafoConcepto {
  grid-area: parrafoConcepto;
}

.divFotoHistoria4 {
  grid-area: divFotoHistoria4;
}

.divFotoHistoria5 {
  grid-area: divFotoHistoria5;
  display: flex;
  justify-content: flex-end;
}

.divFotoHistoria6 {
  grid-area: divFotoHistoria6;
  display: flex;
  justify-content: flex-start;
}

.divFotoHistoria7 {
  grid-area: divFotoHistoria7;
  display: none;
}
@media (min-width: 768px) {
  .divFotoHistoria7 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .divFotoHistoria7 {
    display: block;
  }
}

.divFotoHistoria7_410 {
  grid-area: divFotoHistoria7_410;
}
@media (min-width: 768px) {
  .divFotoHistoria7_410 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .divFotoHistoria7_410 {
    display: none;
  }
}

.parrafoActualidad {
  grid-area: parrafoActualidad;
}

.divFotoHistoria8 {
  grid-area: divFotoHistoria8;
}

.fotoHistoria1768 {
  display: none;
}
@media (min-width: 768px) {
  .fotoHistoria1768 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria1768 {
    display: none;
  }
}

.fotoHistoria3768 {
  display: none;
}
@media (min-width: 768px) {
  .fotoHistoria3768 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria3768 {
    display: none;
  }
}

.fotoHistoria5768,
.fotoHistoria6768 {
  display: none;
}
@media (min-width: 768px) {
  .fotoHistoria5768,
.fotoHistoria6768 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria5768,
.fotoHistoria6768 {
    display: none;
  }
}

.tarjetaHistoria1 {
  width: 90vw;
  height: auto;
  display: flex;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .tarjetaHistoria1 {
    width: auto;
    height: 440px;
  }
}
@media (min-width: 1024px) {
  .tarjetaHistoria1 {
    width: 483px;
    height: auto;
  }
}

.tarjetaHistoria2 {
  width: 90vw;
  height: auto;
  display: flex;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .tarjetaHistoria2 {
    width: auto;
    height: 537px;
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .tarjetaHistoria2 {
    width: 476px;
    height: 436px;
  }
}

.tarjetaHistoria3 {
  width: 90vw;
  height: auto;
  display: flex;
  margin: 0px auto;
}
@media (min-width: 480px) {
  .tarjetaHistoria3 {
    margin: 0px auto;
  }
}
@media (min-width: 768px) {
  .tarjetaHistoria3 {
    width: auto;
    height: 480px;
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .tarjetaHistoria3 {
    width: 451px;
    height: 475px;
    justify-content: space-between;
  }
}

.grillaHistoria {
  display: grid;
  grid-template-areas: "tituloHistoria" "grillaHistoria1" "grillaHistoria2" "grillaHistoria3";
  justify-content: center;
  gap: 15px;
}

.grillaHistoria1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  .grillaHistoria1 {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-areas: "divFotoHistoria1" "parrafoOrigen";
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .grillaHistoria1 {
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-areas: "divFotoHistoria1  parrafoOrigen";
    grid-template-columns: 301px auto;
    margin: 0px auto;
    justify-items: center;
  }
}
@media (min-width: 1024px) {
  .grillaHistoria1 {
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-areas: "divFotoHistoria1 parrafoOrigen divFotoHistoria2bis" "divFotoHistoria1 parrafoOrigen divFotoHistoria3bis";
    grid-template-columns: 301px auto 160px;
  }
}

.grillaHistoria1bis {
  display: grid;
  grid-template-areas: "divFotoHistoria2" "divFotoHistoria3_410";
  gap: 15px;
}
@media (min-width: 768px) {
  .grillaHistoria1bis {
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-areas: "divFotoHistoria2 divFotoHistoria3_410";
    margin: 0px auto;
    grid-template-columns: 259px 259px;
    gap: 15px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .grillaHistoria1bis {
    display: none;
  }
}

.grillaHistoria2 {
  display: grid;
  grid-template-areas: "parrafoConcepto" "divFotoHistoria4";
  justify-items: center;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .grillaHistoria2 {
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-areas: "parrafoConcepto divFotoHistoria4" "parrafoConcepto divFotoHistoria8";
    grid-template-columns: auto 302px;
    align-items: center;
    margin: 0px auto;
  }
}
@media (min-width: 1024px) {
  .grillaHistoria2 {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-areas: "parrafoConcepto divFotoHistoria4";
    grid-template-columns: auto 480px;
    margin: 0px auto;
  }
}

.grillaHistoria3 {
  display: grid;
  grid-template-areas: "parrafoActualidad     parrafoActualidad" "divFotoHistoria5      divFotoHistoria6" "divFotoHistoria7_410  divFotoHistoria7_410";
  gap: 15px;
}
@media (min-width: 768px) {
  .grillaHistoria3 {
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-areas: "divFotoHistoria5 parrafoActualidad" "divFotoHistoria6 parrafoActualidad" "divFotoHistoria7_410 divFotoHistoria7_410";
    grid-template-columns: 245px auto;
    margin: 0px auto;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .grillaHistoria3 {
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-areas: "divFotoHistoria5 divFotoHistoria7 parrafoActualidad" "divFotoHistoria6 divFotoHistoria7 parrafoActualidad";
    grid-template-columns: 160px 330px auto;
  }
}

.grillaHistoria1,
.grillaHistoria2,
.grillaHistoria3 {
  gap: 15px;
  justify-content: center;
}

@media (min-width: 768px) {
  .fotoHistoria1 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria1 {
    display: block;
    width: 300px;
  }
}

@media (min-width: 768px) {
  .fotoHistoria2 {
    width: 259px;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria2 {
    width: 160px;
    height: auto;
  }
}

.fotoHistoria3_410 {
  width: 259px;
  height: auto;
}

.fotoHistoria4 {
  width: 360px;
  height: auto;
}
@media (min-width: 768px) {
  .fotoHistoria4 {
    width: 302px;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria4 {
    width: 480px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .fotoHistoria5 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria5 {
    display: block;
    width: 160px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .fotoHistoria6 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria6 {
    display: block;
    width: 160px;
    height: auto;
  }
}

.fotoHistoria7 {
  width: 55%;
  height: auto;
}
@media (min-width: 768px) {
  .fotoHistoria7 {
    width: 55%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .fotoHistoria7 {
    width: auto;
    height: 475px;
  }
}

.fotoHistoria7_410 {
  width: 84%;
  height: auto;
}
@media (min-width: 768px) {
  .fotoHistoria7_410 {
    width: 60%;
    height: auto;
  }
}

.divFotoHistoria8 {
  display: none;
}
@media (min-width: 768px) {
  .divFotoHistoria8 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .divFotoHistoria8 {
    display: none;
  }
}

.h2Origen {
  padding: 25px 10px 0px;
}

.grillaServicioS {
  width: 90vw;
  margin: 0px auto;
}

.fotoServicios1,
.fotoServicios3,
.fotoServicios4,
.fotoServicios6 {
  width: 88%;
}

.divFotoServicios1,
.divFotoServicios4 {
  display: flex;
  justify-content: flex-end;
}

.divFotoServicios3,
.divFotoServicios6 {
  display: flex;
  justify-content: flex-start;
}

.fotoServicios2,
.fotoServicios5 {
  display: none;
}
@media (min-width: 768px) {
  .fotoServicios2,
.fotoServicios5 {
    display: block;
  }
}
@media (min-width: 1024px) {
  .fotoServicios2,
.fotoServicios5 {
    display: block;
  }
}

.tarjetaServicios {
  margin: 15px auto;
  width: 90vw;
  height: auto;
}
@media (min-width: 480px) {
  .tarjetaServicios {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .tarjetaServicios {
    width: 84%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .tarjetaServicios {
    width: 630px;
    height: auto;
  }
}

.serviciosList,
.serviciosPriceList {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 250%;
  margin: 20px;
}

.nutricion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -10px 0px 0px;
}

.textoPequenio {
  font-size: 11px;
}
@media (min-width: 768px) {
  .textoPequenio {
    font-size: 11px;
  }
}

.columnasServiciosList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 480px) {
  .columnasServiciosList {
    gap: 30px;
  }
}

.serviciosList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 768px) {
  .serviciosList {
    padding: 0px 25px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .serviciosList {
    padding: 0px 25px 0px 0px;
  }
}

.serviciosPriceList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 768px) {
  .serviciosPriceList {
    padding: 0px 0px 0px 25px;
  }
}
@media (min-width: 1024px) {
  .serviciosPriceList {
    padding: 0px 0px 0px 25px;
  }
}

.containerServicios1,
.containerServicios2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto;
}
@media (min-width: 480px) {
  .containerServicios1,
.containerServicios2 {
    width: 87%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .containerServicios1,
.containerServicios2 {
    width: 84%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .containerServicios1,
.containerServicios2 {
    width: 630px;
    height: auto;
  }
}

.serviciosList1 {
  grid-area: serviciosList1;
}

.serviciosPriceList1 {
  grid-area: serviciosPriceList1;
}

.nutricion {
  grid-area: nutricion;
}

.serviciosList2 {
  grid-area: serviciosList2;
}

.serviciosPriceList2 {
  grid-area: serviciosPriceList2;
}

.grillaPrecios {
  display: grid;
  grid-template-areas: "serviciosList1 serviciosPriceList1" "nutricion      nutricion" "serviciosList2 serviciosPriceList2";
  grid-template-columns: 240px 60px;
  gap: 0px 15px;
}
@media (min-width: 768px) {
  .grillaPrecios {
    gap: 0px 160px;
  }
}

.fotoServicios {
  overflow: hidden;
}
.fotoServicios img {
  transition: all 1s;
}

.fotoServicios:hover img {
  transform: scale(1.2);
}

.formulario {
  padding: 0px;
}

form {
  width: 90%;
  padding: 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 5%;
  border-color: #1c1c1c;
  padding: 25px 25px 10px 25px;
}
@media (min-width: 480px) {
  form {
    width: 90%;
  }
}
@media (min-width: 768px) {
  form {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  form {
    width: 50%;
  }
}

.btn-primary {
  color: white;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  width: 100px;
  margin: 0px auto;
}

iframe {
  width: 90%;
  padding: 20px;
}
@media (min-width: 480px) {
  iframe {
    width: 90%;
  }
}
@media (min-width: 768px) {
  iframe {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  iframe {
    width: 50%;
  }
}

.sectionContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.CoworkingflexContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tituloCoworking {
  padding: 10px;
  margin: 30px auto 10px;
}

.tarjetaCoworking {
  width: 380px;
  height: auto;
  padding: 22px;
  margin: 0px auto;
}
@media (min-width: 480px) {
  .tarjetaCoworking {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .tarjetaCoworking {
    width: 100%;
    height: 566px;
    margin: 0px;
  }
}
@media (min-width: 1024px) {
  .tarjetaCoworking {
    width: 500px;
    height: 566px;
    padding: 30px;
    margin: 0px;
  }
}
.tarjetaCoworking h3 {
  margin: 13px;
}
.tarjetaCoworking svg {
  margin: 10px;
}
.tarjetaCoworking p {
  margin: 0px;
}

.divCoworking1,
.divCoworking2,
.divCoworking3 {
  display: flex;
  justify-content: space-evenly;
}

.divCoworking5 {
  display: flex;
  font-size: 16px;
  line-height: 250%;
  padding-bottom: 25px;
}
.divCoworking5 li {
  list-style-type: none;
}

.divCoworkingList {
  display: flex;
  list-style-type: square;
  list-style-position: inside;
  font-size: 16px;
  font-weight: 400;
  line-height: 250%;
  padding-left: 0px;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

.coworkingPackList .coworkingDots .coworkingPriceList {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 250%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 150%;
}

.coworkingPackList {
  text-align: left;
}
.coworkingPackList ul {
  margin: 0px;
  padding-right: 25px;
  padding-left: 0px;
}

.coworkingDots {
  text-align: center;
}
.coworkingDots ul {
  padding: 0px;
  margin: 0px;
}

.coworkingPriceList {
  text-align: right;
}
.coworkingPriceList ul {
  padding-left: 25px;
  margin: 0px;
}

.containerCoworking {
  width: 96%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
@media (min-width: 768px) {
  .containerCoworking {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .containerCoworking {
    width: 84%;
    margin: 0px auto;
  }
}

.interlineadoCoworking {
  line-height: 150%;
  margin-bottom: 24px;
}

.fotoCoworking {
  overflow: hidden;
}
.fotoCoworking img {
  transition: all 1s;
}

.fotoCoworking:hover img {
  transform: scale(1.2);
}/*# sourceMappingURL=estilos.css.map */