.grillaServicioS {
    width: 90vw;
    margin: 0px auto;
}

.fotoServicios1,
.fotoServicios3,
.fotoServicios4,
.fotoServicios6 {
    width: 88%;
}

.divFotoServicios1,
.divFotoServicios4 {
    display: flex;
    justify-content: flex-end;
}

.divFotoServicios3,
.divFotoServicios6 {
    display: flex;
    justify-content: flex-start;
}

.fotoServicios2,
.fotoServicios5 {
    display: none;

    @media(min-width:768px) {
        display: block;
    }

    @media(min-width:1024px) {
        display: block;
    }
}

.tarjetaServicios {
    @extend .tarjeta;
    margin: 15px auto;
    @include sizes (90vw, auto);

    @media(min-width:480px) {
        @include sizes (90%, auto);
    }

    @media(min-width:768px) {
        @include sizes (84%, auto);
    }

    @media(min-width:1024px) {
        @include sizes (630px, auto);
    }
}

.serviciosList,
.serviciosPriceList {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 250%;
    margin: 20px;
}

.nutricion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -10px 0px 0px;
}

.textoPequenio {
    font-size: 11px;

    @media(min-width:768px) {
        font-size: 11px;
    }
}

.columnasServiciosList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media(min-width:480px) {
        gap: 30px;
    }
}

.serviciosList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;

    @media(min-width:768px) {
        padding: 0px 25px 0px 0px;
    }

    @media(min-width:1024px) {
        padding: 0px 25px 0px 0px;
    }
}

.serviciosPriceList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;

    @media(min-width:768px) {
        padding: 0px 0px 0px 25px;
    }

    @media(min-width:1024px) {
        padding: 0px 0px 0px 25px;
    }
}

.containerServicios1,
.containerServicios2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;

    @media(min-width:480px) {
        @include sizes (87%, auto);
    }

    @media(min-width:768px) {
        @include sizes (84%, auto);
    }

    @media(min-width:1024px) {
        @include sizes (630px, auto);
    }

}

.serviciosList1 {
    grid-area: serviciosList1;
}

.serviciosPriceList1 {
    grid-area: serviciosPriceList1;
}

.nutricion {
    grid-area: nutricion;
}


.serviciosList2 {
    grid-area: serviciosList2;
}

.serviciosPriceList2 {
    grid-area: serviciosPriceList2;
}

.grillaPrecios {
    display: grid;
    grid-template-areas: "serviciosList1 serviciosPriceList1"
        "nutricion      nutricion"
        "serviciosList2 serviciosPriceList2";
    grid-template-columns: 240px 60px;
    gap: 0px 15px;

    @media(min-width:768px) {
        gap: 0px 160px;
    }
}

.fotoServicios {
    overflow: hidden;

    img {
        transition: all 1s;
    }
}

.fotoServicios:hover {
    img {
        transform: scale(1.2)
    }

}